{% extends 'base.html' %}

{% block content %}

<div class=" flex justify-between min-[320px]:mx-4 my-4 md:mx-1 ">
    <ol class="sm:ml-4 flex items-center whitespace-nowrap" aria-label="Breadcrumb">
        <li class="inline-flex items-center">
          <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 dark:focus:text-blue-500" href="#">
            Home
          </a>
          <svg class="flex-shrink-0 mx-2 overflow-visible size-4 text-gray-400 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </li>
        <li class="inline-flex items-center text-sm font-semibold text-black truncate " aria-current="page">
            Admin Panel
        </li>
      </ol>

      
</div>

<div class="m-4 bg-white rounded-2xl shadow-lg p-6  flex flex-col md:flex-row items-center shadow-2xl shadow-gray-500/50">
    <div class="flex-shrink-0 items-center w-44 h-44 md:mr-12 sm:mr-0 rounded-full overflow-hidden  shadow-2xl shadow-gray-500/50 border-4 border-indigo-800">
        <img src="../static/user6.png" alt="Admin Image" class="w-full h-full object-cover card">
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-800 mb-2 sm:mt-4 md:mt-0">Admin Details</h2>
        <p class="text-sm text-gray-600 mb-3"><span class="font-bold text-gray-800 ">Username: </span> {{ current_user.username[:10] }}</p>
        <!-- <p class="text-sm text-gray-600 mb-3">Email: {{ current_user.username[:10] }}</p> -->
        <p class="text-sm text-gray-600 mb-3"><span class="font-bold text-gray-800 ">Role: </span>  Admin</p>
        <a href="#" class="block bg-blue-500 hover:bg-blue-600  text-white font-semibold py-1 px-8 "></a>
    </div>
</div>


<div class=" table min-w-full px-4 ">
    <!-- Title Search bar and Export button -->
    <div class="flex flex-row justify-between min-w-full items-center bg-white shadow rounded-tl-2xl rounded-tr-2xl overflow-hidden">
        <h3 class="p-4 mt-2 mb-2 ml-2 font-bold text-center">User Details</h3>
    </div>

    <!-- Table Details -->
    <div class="grid grid-cols-1 overflow-x-auto">
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-indigo-500">Username</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-indigo-500">User Email Id</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-indigo-500">Status</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-indigo-500">Role</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border border-indigo-500">Actions</th> <!-- Added Actions column -->
                </tr>
            </thead>
            <tbody id="userData" class="bg-white">
                <!-- Data will be dynamically populated here -->
            </tbody>
        </table>

        <p id="noDataMessage" class="text-center text-black text-lg bg-white text-gray-500 hidden pt-16 pb-8"><span class="bg-gray-200 rounded-lg px-6 py-2 hover:bg-red-500">No data found</span></p>
    </div>

    <!-- Pagination and Dropdowns -->
    <div class="flex justify-between items-center bg-white p-4 overflow-x-auto rounded-bl-2xl rounded-br-2xl">
        <div class="">
            <label for="pageSize" class="mr-2">Page Size:</label>
            <select id="pageSize" class="border border-gray-300 rounded px-2 py-1">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <nav class="flex items-center overflow-x-auto">
            <div id="paginationInfo" class="p-2 rounded-lg mr-2 text-center"></div>
            <div class="flex justify-center">
                <button id="prevBtn" class="border-2 border-indigo-600 text-indigo-600 py-2 px-4 mr-2 rounded-2xl">Previous</button>
                <button id="nextBtn" class="border-2 border-indigo-600 text-indigo-600 py-2 px-4 rounded-2xl">Next</button>
            </div>
        </nav>
    </div>
</div>


<!-- footer -->
<div class=" bottom-0 w-full mt-4 ">
    <footer class="bg-gray-200">
        <div class="bg-black/5 p-4 text-center text-surface ">
            © 2024 Copyright:
            <a href="https://github.com/PhonePe/mantis">Phonepe Mantis</a>
        </div>
    </footer>
</div>

<script>
    let currentPage = 1;
    let pageSize = 10;

    async function fetchData(page, size) {
        
        const response = await fetch(`users?&page=${page}&page_size=${size}`);
        const data = await response.json();
        return data;
    }

    async function fetchDataAndPopulateTable(page, size) {
            const data = await fetchData(page, size);
            const tbody = document.getElementById('userData');
            tbody.innerHTML = ''; // Clear existing data

            data.data.forEach(item => {
                const row = document.createElement('tr');

                const userNameCell = document.createElement('td');
                userNameCell.textContent = item.username;
                userNameCell.classList.add('px-6', 'py-1', 'text-left', 'border-b-2', 'text-black');
                row.appendChild(userNameCell);

                const userEmailCell = document.createElement('td');
                userEmailCell.textContent = item.email;
                userEmailCell.classList.add('mt-2', 'p-1', 'border-b-2');
                row.appendChild(userEmailCell);

                const statusCell = document.createElement('td');
                const statusSelect = document.createElement('select');
                statusCell.classList.add('border-b-2')
                statusSelect.classList.add('border-2', 'border-indigo-600', 'rounded-lg', 'focus:border-indigo-300', 'focus:ring', 'focus:ring-indigo-200', 'focus:ring-opacity-50', 'px-4', 'py-1', 'status-select'); // Add 'status-select' class for event listener
                statusSelect.innerHTML = `
                    <option value="active" class="bg-green-400 text-white" ${item.disabled ? '' : 'selected'}>Active</option>
                    <option value="disabled" ${item.disabled ? 'selected' : ''}>Disabled</option>
                `;
                statusCell.appendChild(statusSelect);
                row.appendChild(statusCell);

                const roleCell = document.createElement('td');
                const roleSelect = document.createElement('select');
                roleCell.classList.add('border-b-2')
                roleSelect.classList.add('border-2', 'rounded-lg', 'border-indigo-600', 'border', 'focus:border-indigo-300', 'focus:ring', 'focus:ring-indigo-200', 'focus:ring-opacity-50', 'px-4', 'py-1', 'role-select'); // Add 'role-select' class for event listener
                roleSelect.innerHTML = `
                    <option value="admin" ${item.scopes.includes('admin') ? 'selected' : ''}>Admin</option>
                    <option value="write" ${item.scopes.includes('write') ? 'selected' : ''}>Write</option>
                    <option value="read" ${item.scopes.includes('read') ? 'selected' : ''}>Read</option>
                `;
                roleCell.appendChild(roleSelect);
                row.appendChild(roleCell);

                // Add submit button to the row
                const actionsCell = document.createElement('td');
                const submitBtn = document.createElement('button');
                submitBtn.textContent = 'Submit';
                submitBtn.classList.add('bg-indigo-500', 'hover:bg-indigo-700', 'text-white', 'font-bold', 'py-1', 'm-1', 'px-4', 'rounded-lg');
                actionsCell.classList.add('border-b-2')
                actionsCell.appendChild(submitBtn);
                row.appendChild(actionsCell);

                row.dataset.username = item.username; // Set the dataset attribute for username
                tbody.appendChild(row);
            });
            // Update pagination information
        const paginationInfo = document.getElementById('paginationInfo');
        paginationInfo.textContent = `Page ${currentPage} of ${Math.ceil(data.total_records / pageSize)}`;

        // Hide or show previous/next buttons based on current page
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');
        prevBtn.disabled = currentPage === 1;
        nextBtn.disabled = currentPage === Math.ceil(data.total_records / pageSize);
        }
    // Event listener for previous and next buttons
        document.getElementById('prevBtn').addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                fetchDataAndPopulateTable(currentPage, pageSize);
            }
        });

        document.getElementById('nextBtn').addEventListener('click', () => {
                currentPage++;
                fetchDataAndPopulateTable(currentPage, pageSize);
            
        });

        // Event listener for page size select element
        document.getElementById('pageSize').addEventListener('change', (event) => {
            pageSize = parseInt(event.target.value);
            currentPage = 1; // Reset to first page when changing page size
            fetchDataAndPopulateTable(currentPage, pageSize);
        });

        fetchDataAndPopulateTable(currentPage, pageSize);



    async function updateUser(username, newStatus, newRole) {

        try {
            // Retrieve the access token from localStorage
            const accessToken = localStorage.getItem('accessToken');

            const response = await fetch(`users/${username}`, {
                method: 'PUT',
                headers: {
                    'Authorization': `Bearer ${accessToken}`, // Include the token in the Authorization header
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    disabled: newStatus,
                    scopes: [newRole]
                })
            });

            if (response.ok) {
                alert('User status and role updated successfully');
                fetchDataAndPopulateTable(currentPage, pageSize); // Refresh the table after updating status and role
            } else {
                alert('Error updating user status and role, No changes made or something went wrong');
            }
        } catch (error) {
            console.error('Error updating user status and role:', error);
        }
    }

    // Event listener for status and role select elements
    document.addEventListener('click', async (event) => {
        const element = event.target;
        const parentRow = element.closest('tr');

        if (parentRow && parentRow.dataset.username) {
            const username = parentRow.dataset.username;

            if (element.tagName === 'BUTTON' && element.textContent === 'Submit') {
                // Update user status and role on submit button click
                const statusSelect = parentRow.querySelector('.status-select');
                const roleSelect = parentRow.querySelector('.role-select');
                if (statusSelect && roleSelect) {
                    const newStatus = statusSelect.value === 'active' ? false : true; // Assuming 'active' maps to false and 'disabled' maps to true
                    const newRole = roleSelect.value;
                    await updateUser(username, newStatus, newRole);
                }
            }
        }
    });
</script>

{% endblock %}
