<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body >
    <div class="min-h-screen flex items-center justify-center bg-gray-900 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div class="flex flex-col items-center ">
                <img src="../static/mantis_new.png" class="h-36 w-36 rounded-full border-4 rounded-2xl border-indigo-600">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-white">Sign in to your account</h2>
            </div>
            <form id="loginForm" class="mt-8 space-y-6">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="username" class="sr-only">Username</label>
                        <input id="username" name="username" type="text" autocomplete="username" required
                            class="appearance-none rounded-none relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Username">
                    </div>
                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input id="password" name="password" type="password" autocomplete="current-password" required
                            class="mt-2 appearance-none rounded-none relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Password">
                    </div>
                </div>
    
                <div>
                    <button type="submit"
                        class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Sign in
                    </button>
    
                    <div id="loginAlertRed" class="mr-4 right-0 bg-red-500 text-white px-4 py-2 rounded-md hidden mt-4 w-full">
                    </div>
                    
                    <p class="mt-2 text-center text-sm text-gray-600">
                        Don't have an account? <a href="/registration" class="font-medium text-indigo-600 hover:text-indigo-500">Create one</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    
    
    <script>

function fetchDataAndSetLocalStorage() {
    fetch('org/organizations')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const org = data[0];

            localStorage.setItem('org', org);
            console.log('Selected organization stored in local storage:', org);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}

        const loginAlertRed = document.getElementById('loginAlertRed');
    
        document.getElementById('loginForm').addEventListener('submit', async function (event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
    
            const response = await fetch('token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'username': username,
                    'password': password,
                }),
            });
    
            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('accessToken', data.access_token);
                // Redirect or do something else
                console.log('Login successful. Token:', data.access_token);
                fetchDataAndSetLocalStorage();
                window.location.href = '/vulnerabilities';
                
            } else {
                // Display alert with the error message
                // alert(data.detail)
                loginAlertRed.textContent = data.detail;
                loginAlertRed.classList.remove('hidden');
                setTimeout(() => {
                    loginAlertRed.classList.add('hidden');
                }, 1500);
                console.error('Login failed:', data.detail);
            }
        });

    </script>
</body>

</html>
